section {
  padding: 100px 28%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 3rem;
  text-align: center;
  cursor: pointer;
  padding-top: 2rem;
}

.box {
  padding: 0px 20px 10px 20px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all 0.35s ease;
}

.box img {
  width: 100%;
  height: auto;
}

.box h4 {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.box h5 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.box .cart i {
  position: relative;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: black;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.box:hover {
  transform: translateY(-10px);
}
