section {
  padding: 10px 15%;
}

.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(288px, 3fr)
  ); /* Her sıradaki sütun sayısını 3 olarak ayarlayın */
  align-items: center;
  gap: 3rem;
  text-align: center;
  cursor: pointer;
  padding-top: 2rem;
}

.box {
  width: 500px;
  height: auto;
  padding: 0px 20px 10px 20px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all 0.35s ease;
  display: inline-block;
}

.box img {
  width: 100%;
  height: auto;
}

.box h4 {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.box h5 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.box .cart i {
  position: relative;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: black;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.box:hover {
  transform: translateY(-10px);
}

.search-page {
  width: 100%;
  display: flex;
  position: relative;
}
.search-page .filters {
  position: absolute;
  left: 2rem;
  top: 3rem;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 0.2rem;
  border-radius: 5px;
}
.search-page .filters .filters-title {
  font-weight: 800;
  font-size: 18pt;
}
.search-page .filters .filter-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
}
.search-page .filters .filter-container .filter-name {
  font-weight: 500;
  transition: all 0.15s ease;
}
.search-page .filters .filter-container .filter-name.used {
  font-weight: 700;
}
.search-page .filters .filter-container .filter-params {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-page .filters .filter-container .filter-param {
  cursor: default;
  font-weight: 400;
  margin: 5px;
  transition: all 0.15 ease;
}
.search-page .filters .filter-container .filter-param.active {
  font-weight: 600;
  margin: 5px;
}
.search-page .filters .filter-container .filter-param-remover {
  cursor: default;
  position: absolute;
  right: 0.4rem;
  top: 0.1rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: rgba(155, 0, 0, 0.2);
}

.search-page .products {
  background-color: rgba(0, 0, 0, 0.2);
  width: 76.5%;
  height: 1000px;
  margin-left: auto;
}
